@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-selection {
    background: #051923; /* or your desired dark background color */
    color: white;
  }
  
  .custom-selection::selection {
    background: #051923 !important;
    color: white !important;
  }
  
  .custom-selection::-moz-selection {
    background: #051923 !important;
    color: white !important;
  }
  
  /* Override autofill styles */
  .custom-selection:-webkit-autofill,
  .custom-selection:-webkit-autofill:hover,
  .custom-selection:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #051923 inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #4a5568;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #718096;
  }